@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cairo";
}

html, body, #root {
  height: 100%;
}

.bg {
  background-color: white; 
}

:root {
  --color-bg: #ffffff;
  --color-card: #ffffff;
  --color-text: #1F2937;
  --color-text-secondary: #6B7280;
  --color-border: #E5E7EB;
  --color-hover: #F3F4F6;
}

.dark {
  --color-bg: #2E293E;
  --color-card: #1F1B4B;
  --color-text: #F3F4F6;
  --color-text-secondary: #A0AEC0;
  --color-border: #2D2D4D;
  --color-hover: #2D2D4D;
}


.preview-panel {
  background-color: rgba(245, 239, 252, 1); 
}

.dark .preview-panel {
  background-color: rgba(30, 25, 42, 1); 
  color: white; 
}

