@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cairo";
}

html, body, #root {
  height: 100%;
}

.bg {
  background-color: white; 
}

:root {
  --color-bg: #ffffff;
  --color-card: #ffffff;
  --color-text: #1F2937;
  --color-text-secondary: #6B7280;
  --color-border: #E5E7EB;
  --color-hover: #F3F4F6;
}

.dark {
  --color-bg: rgba(38, 30, 53, 1);
  --color-card: #1F1B4B;
  --color-text: #F3F4F6;
  --color-text-secondary: #A0AEC0;
  --color-border: rgba(46, 41, 62, 1);
  --color-hover: #2D2D4D;
}


.preview-panel {
  background-color: rgba(245, 239, 252, 1); 
}

.dark .preview-panel {
  background-color: rgba(30, 25, 42, 1); 
  color: white; 
}

.month-color {
  background-color: rgba(236, 238, 251, 1);
}

.dark .month-color {
  background-color: rgba(46, 41, 62, 1);
}

.button {
  background-color: rgba(236, 238, 251, 1);
}

.dark .button {
  background-color: rgba(46, 41, 62, 1);
}

.table {
  background-color: rgba(236, 238, 251, 1);
}

.dark .table {
background-color: rgba(46, 41, 62, 1);
}

.bar {
  background-color: rgba(236, 238, 251, 1);
}

.dark .bar {
  background-color: rgba(38, 30, 53, 1);
}

html,
body,
#root {
  min-height: 100%;
  height: auto;
  overflow-y: auto;
}

/* Optional: smooth and clean scrolling */
body {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Hide scrollbar but allow scroll */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


